.main-form {
  margin-left: 10%;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group label {
  flex: none;
  display: block;
  width: 125px;
  font-weight: bold;
  font-size: 1em;
}

.form-group .input-control {
  flex: 0.25;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

.form-group .buttonClass {
  background-color: burlywood;
  margin-left: 1%;
  border-radius: 6px;
  font-size: 12px;
  font-family: auto;
}

.form-group .cancelClass {
  background-color: burlywood;
  margin-left: 24%;
  border-radius: 6px;
  font-size: 12px;
  font-family: auto;
}

.empty {
  margin-left: 100%;
  width: 144%;
}
.showButton {
  margin-top: 2%;
}
